$medium-width: 1024px;
$medium-height: 680px;

$big-width: 1280px;
$big-height: 800px;

.app-root {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        @media screen and (min-width: $medium-width) and(min-height: $medium-height) {
            height: 100%;
        }
    }
    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;
        height: 60px;
        background-color: #467e3f;
        color: white;
        font-size: 24px;
    }
    &__body {
        background-color: rgba(146, 145, 67, 0.4);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    &__footer {
        height: 60px;
        background-color: #2f2504;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        width: 100%;
        padding: 0 10px;
        &-text {
            margin-right: 10px;
        }
    }
    &__main {
        height: 50%;
        width: 90%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 5px;
        @media screen and (min-width: $big-width) {
            width: 75%;
        }
    }
    &__instructions {
        height: 35%;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 16px;
        margin: 5px;
        @media screen and (min-width: $big-width) {
            width: 75%;
        }
    }
    &__box {
        width: 100%;
        padding: 24px;
        margin: 16px;
        line-height: 24px;
        &-title {
            font-size: 24px;
            font-weight: bold;
            padding-bottom: 20px;
        }
        &-left {
            background-color: #2f2504;
        }
        &-right {
            background-color: #2f2504;
        }
        & li {
            padding-bottom: 5px;
        }
        & a {
            color: white;
        }
        @media screen and (min-width: $medium-width) and(min-height: $medium-height) {
            width: 40%;
        }
        @media screen and (min-width: $medium-width) and(min-height: $medium-height) {
            width: 40%;
        }
    }
    &__step {
        width: 100%;
        &-title {
            font-weight: bold;
            font-size: 20px;
        }

        &-body {
            padding: 8px 16px;
            margin-top: 16px;
            margin-left: 16px;
            margin-right: 16px;
        }

        &-code {
            background-color: rgba(146, 145, 67, 0.5);
        }

        &-last {
            position: relative;
        }

        @media screen and (min-width: $medium-width) and (min-height: $medium-height) {
            width: 30%;
        }

        margin: 5px;
        padding: 16px;
        background-color: #467e3f;
    }

    &__angular-logo {
        width: 48px;
    }

    &__twitter-button {
        position: relative;
        height: 20px;
        box-sizing: border-box;
        padding: 1px 8px 1px 6px;
        background-color: #1b95e0;
        color: #fff;
        border-radius: 3px;
        font-weight: 500;
        cursor: pointer;
    }

    &__star {
        padding-bottom: 16px;
    }

    &__code {
        font-family: monospace;
        font-size: 14px;
    }
}
