<div class="app-root__container">
    <div class="app-root__header">
        <img class="app-root__angular-logo" src="assets/angular.svg" />
        <div class="app-root__title">ngx-feedback</div>
    </div>
    <div class="app-root__body">
        <div class="app-root__main">
            <div class="app-root__box app-root__box-left">
                <div class="app-root__box-title">What is ngx-feeback?</div>
                <p>
                    An Angular library helping devs to easily collect Wep App users reviews and real time feedbacks about the product, new
                    features or potential bugs.
                </p>
                <p>
                    Ngx-feedback relies upon <a href="https://github.com/niklasvh/html2canvas">html2canvas</a> library to take webpages
                    screenshots.
                </p>
            </div>
            <div class="app-root__box app-root__box-right">
                <div class="app-root__box-title">Features</div>
                <ul>
                    <li>A <strong>feedback button</strong> you can place at the edge of the page.</li>
                    <li>A <strong>screenshot</strong> of the whole page or of a particular feature/element.</li>
                    <li>
                        A <strong>modal form</strong> in which the <strong>user</strong> could add his <strong>comment</strong> about the
                        product and vote thanks to a star rating component.
                    </li>
                </ul>
            </div>
        </div>
        <div class="app-root__instructions">
            <div class="app-root__step">
                <div class="app-root__step-title">Install</div>
                <div class="app-root__step-body app-root__step-code">
                    <p class="app-root__code">npm i ngx-feedback</p>
                    <p>or</p>
                    <p class="app-root__code">yarn add ngx-feedback</p>
                </div>
            </div>
            <div class="app-root__step">
                <div class="app-root__step-title">Documentation</div>
                <div class="app-root__step-body">Documentation will be available soon...</div>
            </div>
            <div class="app-root__step app-root__step-last">
                <div class="app-root__step-title">Do you like it?</div>
                <div class="app-root__step-body">
                    <div class="app-root__star">
                        <iframe
                            src="https://ghbtns.com/github-btn.html?user=tnicola&repo=ngx-feedback&type=star&count=true&size=large"
                            frameborder="0"
                            scrolling="0"
                            width="160px"
                            height="30px"
                        ></iframe>
                    </div>
                    <div class="app-root__watch">
                        <iframe
                            src="https://ghbtns.com/github-btn.html?user=tnicola&repo=ngx-feeback&type=watch&count=true&size=large&v=2"
                            frameborder="0"
                            scrolling="0"
                            width="160px"
                            height="30px"
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<a class="app-root__twitter-button" href="https://twitter.com/nicola_tommasi" data-size="large">Follow @nicola_tommasi</a>-->

    <div class="app-root__footer">
        <div class="app-root__footer-text">ngx-feedback is released under a MIT license by Nicola Tommasi</div>
        <iframe
            src="https://ghbtns.com/github-btn.html?user=tnicola&type=follow&count=true"
            frameborder="0"
            scrolling="0"
            width="170px"
            height="20px"
        ></iframe>
    </div>
</div>
